.aboutUs {
    display: flex;
    flex-direction: column;
    background-image: url("../assets/img/johndefrente.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    padding-left:12px;
    padding-right:12px;
    padding-bottom: 200px;
    padding-top: 50px;

    h1{
        color: black;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 25px;
        padding-bottom: 50px;
        text-align: center;
    }

    & .text {
        width: 40%;
        max-width: 300px;
        text-align: left;
        padding-left: 30px;

        h2 {
            font-size: 2.5rem;
        }

        p {
            font-size: 1.5rem;
        }
    }
}


#mini-biography h3 {
    color: white;
    padding: 60px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.952);
}
