.aboutUs {
    display: flex;
    background-image: url("../assets/img/johndefrente.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    padding: 200px 12px;

    & .text {
        width: 40%;
        max-width: 300px;
        text-align: left;
        padding-left: 30px;

        h2 {
            font-size: 2.5rem;
        }

        p {
            font-size: 1.5rem;
        }
    }
}


.mini-biography h3 {
    color: white;
    padding: 60px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.952);
}
