.hisMusic {
    display: flex;
    flex-direction: column;
    background-image: url("../assets/img/acousticguitar.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    h1 {
        padding: 50px;
        text-align: center;
    }

    & .title {
        background-color: rgba(0, 0, 0, 0.952);
    }

    & .last-release {
        padding: 80px;
        padding-bottom: 0px;
        justify-content: center;
        text-align: center;
        font-size: 1.5rem;


        & .itunes {
            padding: 50px;
            padding-bottom: 0px;
        }
    }

    & .popularSongs {
        padding: 80px;
        justify-content: center;
        text-align: center;
        font-size: 1.5rem;


        & .spotify {
            padding: 50px;
            padding-bottom: 0px;
        }
    }

    & .plataforms {
        text-align: center;
        padding: 35px;
        background-color: rgba(0, 0, 0, 0.952);

        img {
            width: 80px;
            height: 80px;
            padding: 10px;
        }

        h3{
            color: $h3-color;
        }
    }
}