.home {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../assets/img/johncrowd5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    h1{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px;
        font-size: 4rem;
        color: rgb(255, 255, 255);
        text-align: center;
    }

    p {
        padding: 10px;
        color: white;
    }
}

.listenTo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 60px 12px;

    a {
        padding: 20px;
    }
}

