body {
    background-color: $background;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    font-size: 1.4rem;
}

h1 {
    font-size: $h1-size;
    color: $h1-color;
}

h2{
    color: $h2-color;
    
}

.highlight {
    color: $main-color;
}