.redirect {
    font-size: 0.8;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 16px;
    border: none;
    box-shadow: none;
    color: rgb(250, 250, 250);
    background-color: blueviolet;
}

.redirect:hover {
    background-color: rgb(87, 28, 142);
}