footer {
    padding: 20px;
    justify-content: center;
}

footer div {
    width: 100%;
}

footer div p {
    text-align: center;
    color: black;
    margin-bottom: 0;
}

.footer-abajo img {
    width: 15px;
}
