// Grid - Tour Dates
.dates{
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    justify-content: center;
}


//Grid Gallery
.grid-gallery {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(5, 20%);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    overflow: hidden;
}

