.container-fluid {
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;

    & .navbar-brand {
        color: $main-color;
        font-weight: bolder;
    
        &:hover {
            color: $main-color;
        }
    }
}

.collapse {
    justify-content: flex-end;

    & .nav-link {
        font-weight: bolder;
    
        &:hover {
            color: $main-color;
        }
    }
}