@media (max-width: 767px) {

    .container-fluid {
        padding-left: 15px;
        padding-right: 15px;
    }


    .home p {
        padding: 60px;
        padding-bottom: 10px;
        padding-top: 10px;
    }


    .home h1 {
        padding: 25px;
        font-size: 3rem;
    }

    .aboutUs {
        background-image: none;
        text-align: center;
        justify-content: center;
        width: 100%;

    }

    .aboutUs .text {
        text-align: center;
        width: 100%;
        justify-content: center;
        padding-left: 0px;
    }

    .dates {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(9, 1fr);
        grid-row-gap: 10px;
    }

    .grid-gallery {
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 50px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-row-gap: 10px;
    }


    .hisMusic .last-release {
        padding: 20px;
        padding-bottom: 0px;
    }

    .hisMusic .last-release .itunes {
        padding: 0%;
    }

    .hisMusic .popularSongs {
        padding: 20px;
    }

    .hisMusic .popularSongs .spotify {
        padding: 0%;
    }

    .hisMusic .plataforms {
        text-align: center;
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.952);
    }

    .hisMusic .plataforms img {
        width: 50px;
        height: 50px;
    }
}